<div class="container">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Larken&display=swap" rel="stylesheet">
    </head> 
    <h1>
        <img src="assets/rose.png" alt="Rose Image" class="rose-image"> ROSA
        <img src="assets/rose.png" alt="Rose Image" class="rose-image2">
    </h1>
    <h2>Login</h2>

    <form #loginForm="ngForm">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="username" name="username">
            <div [hidden]="loginForm.controls['username'].valid || loginForm.controls['username'].pristine" class="alert alert-danger">
              Field is required
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password">
            <div [hidden]="loginForm.controls['password'].valid || loginForm.controls['password'].pristine" class="alert alert-danger">
              Field is required
            </div>
          </div>
        </div>
    
        <button type="submit" style = "width: 180px; margin-right: 10px;"class="btn btn-primary mt-2" [disabled]="!loginForm.form.valid" (click)="onSubmit()">Login</button>
        <button type="submit" style = "width: 180px;" class="btn btn-secondary mt-2" (click)="onSubmit()">Sign Up</button>
    
    
      </form>
    </div>
