@mixin mobile-responsive {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: 'Larken', sans-serif;

  
  h4 {
    margin-bottom: 40px;
  }

  h1 {
    margin-bottom: 30px;
    font-family: 'Larken';
  }

  h2 {
    margin-bottom: 30px;
    font-weight: bold;
  }

  form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }

  .rose-image {
    width: 30px;
    height: auto;
    margin-right: 5px;
  }

  .rose-image2 {
    width: 30px;
    height: auto;
    margin-left: 5px;
  }

  button {
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    
  }

  .create-account-link {
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    text-align: center;

  }

  @include mobile-responsive {
    h4 {
      margin-bottom: 20px;
    }

    h1 {
      margin-bottom: 15px;
    }

    button {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .create-account-link {
      margin-top: 10px;
    }
  }
}
